<label>Server Name</label>

<!-- one way binding -->
<!-- <input 
type="text" 
class="form-control" 
(input)="onUpdateServerName($event)"> -->

<!-- twoy way binding -->
<input 
type="text" 
class="form-control" 
[(ngModel)]="serverName">

<button 
[disabled]="!allowNewServer" 
(click)="onCreateServer()" 
class="btn btn-primary">add server</button>

<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated; else inactiveServer">{{serverName}} was created !</p>
<ng-template #inactiveServer>
    <p>NO ACTIVE SERVER</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>

